{% extends 'layout.html' %} {% block content %}
<form action="/uploader" method="post" enctype = "multipart/form-data">
  <label
    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
    for="file"
    >Upload file</label
  >
  <input
    class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
    aria-describedby="file"
    id="file"
    name="file"
    type="file"
  />
  <button type="submit" class="dark:border">Upload</button>
</form>
{% endblock %}
